body {
  background-color: #303030;
}

.col{
  display:flex;
  flex-direction: column;
  gap: 10px;
}

.cards {
  display: flex;
  gap: 10px;
}

.card {
  width: 200px;
  height: 300px;
  border-radius: 5px;
  background: linear-gradient(
    to top right,
    rgba(63, 81, 181, 1) 0%,
    rgba(3, 155, 229, 1) 40%
  );
  box-shadow: 1px 1px 30px rgba(2, 119, 189, 1);
  transition: transform 1s;
}
